.console-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #272822;
  flex-grow: 1;
}

.console-bound {
  display: block;
  overflow: scroll;
  flex-grow: 1;
  box-shadow: inset 0px 4px 8px black;
}

.console-input {
  width: 100%;
  box-shadow: inset 0px 4px 4px black;
  color: white;
  font-size: 14pt;
  font-family: 'Courier New', Courier, monospace;
  height: 24pt;
  bottom: 0;
}

.console-entry {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-wrap: inherit;
  padding: 2px;
  &:hover {
    background-color: #49483E;
  }
  &>.console-row-number {
    text-wrap: nowrap;
    padding: 2px;
    width: 2rem;
    background-color: #2F3129;
    color: #FFFFFFA0;
    text-align: right;
    border-right: 1px solid #787A6F;
  }
  &>.console-date {
    color: #FFFFFFA0;
    text-wrap: nowrap;
    padding: 2px;
    width: 0;
    padding-left: 6px;
  }
  &>.console-text {
    text-wrap: nowrap;
    padding: 2px;
  }
  &>.console-repeat-counter {
    text-wrap: nowrap;
    padding: 2px;
    width: 0;
    border-left: 1px solid #2F3129;
    color: #FFFFFFA0;
  }
  &.error {
    &>.console-text {
      color: #ff5555;
    }
  }
}